[submodule "lua"]
	path = lua
	url = https://github.com/lua/lua
[submodule "luaffifb"]
	path = luaffifb
	url = https://github.com/thenumbernine/luaffifb
[submodule "gnuplot"]
	path = gnuplot
	url = https://github.com/gnuplot/gnuplot
